body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button-container {
    margin-bottom: 20px;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.data-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.2em;
}

.data-box > div {
    font-size: 0.8em;
    color: #666;
}

.status {
    font-size: 0.9em;
    color: #666;
}

#bleState {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.disabled {
    background-color: #ccc;
    cursor: default;
}

button:hover:not(.disabled) {
    background-color: #0056b3;
}

footer {
    color: #666;
    font-size: 0.8em;
}
